ee-tile {
  font-family: Helvetica;
}

ee-tile, ee-tile .ee-tile-main, ee-tile .ee-tile-content, ee-tile .ee-tile-bottom-bar {
  box-sizing: border-box;
}

ee-tile .ee-tile-main {
  position: relative;
  width: 100%;
}

ee-tile .ee-tile-main:before {
  content: "";
  display: block;
  padding-top: 100%;
}

ee-tile .ee-tile-main .ee-tile-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 10px;
  font-size: 10pt;
}

ee-tile .ee-tile-bottom-bar {
  height: 40px;
  font-size: 11pt;
  line-height: 40px;
  padding: 0 10px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
